/* Write your CSS code here */
.blogItemContainer {
  display: flex;
  padding: 20px;
  justify-content: center;
  width: 98%;
  margin-left: 15px;
  border: 2px solid black;
  margin-top: 5px;
}

.img1 {
  height: 25vh;
  width: 20vw;
  margin-right: 20px;
}
.img2 {
  height: 40px;
  border-radius: 40px;
}
.topicPara {
  color: #8e8e8e;
  margin-top: 0px;
  margin-bottom: 0px;
}
.titleHead {
  text-decoration: none;
  font-size: 20px;
}
.avatarDetails {
  display: flex;
}
.authorPara {
  font-weight: bold;
  margin-left: 14px;
  color: #8e8e8e;
}
